body	
	{
		background-color: #282A35;
		font-family: Arial;
		
	}
table
{
position: fixed;
margin-right: 10%;
margin-left: 60%;
width: 25%;
}
.main-info
{
 width: 60%;
 padding-left: 10%;

 height: 100%;
  
}
.textmain

{
	padding-top:3%;
	margin-top:2%;
	color: white;
	font-size:1em;
	
}

#artitle
{
	padding-top:3%;
	margin-top:2%;
	color: white;
	font-size: 3em;
}
h1
{
	padding-top:3%;
	margin-top:2%;
	color: #c05beb;
	font-size: 2em;
}
a
{
color: #cc33ff;
}
 td, th

{
border: 3px double black;
color: white;
 padding: 0.2em;	
}
li
{
margin: 1.5em;	
}
.textspis

{
	padding-top:3%;
	margin-top:2%;
	color: #cc33ff;
	font-size:2em;
	cursor: pointer;
}
.Dropdown

{
	padding-top:3%;
	margin-top:2%;
	color: white;
	font-size:2em;
	
}
